*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: 'carbonara(FONT BY LYAJKA)';
  font-style: normal;
  font-weight: 400;

  src: url('../fonts/carbonara.woff2') format('woff2'),
    url('../fonts/carbonara.woff') format('woff');
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'carbonara(FONT BY LYAJKA)', 'Arial';
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1d1d1f;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  width: 100%;
  height: auto;
  background: url('../img/header-gradient.png');
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: cover;
}

.header_bg {
  position: absolute;
  left: -463px;
  top: -885px;
}

.header_bg-animation {
  animation: fade 1.8s ease infinite;
}

@keyframes fade {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.header_block {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 968px;
  padding-left: 966px;
  padding-right: 60px;
}

.header_title {
  margin-top: 90px;
  color: #fcffff;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header_description {
  margin-top: 71px;
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  max-width: 840px;
}

.header_link {
  display: block;
  margin-top: 60px;
  margin-left: 60px;
  transition: all 0.3s ease;
}

.header_link img {
  width: 531px;
  height: auto;
}

.header_link:hover {
  opacity: 0.6;
}

.blockchains {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 98px;
  padding-bottom: 120px;
}

.blockchains_title {
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

.blockchains_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 135px;
  margin: 0;
  padding: 0 30px;
  margin-top: 80px;
  list-style: none;
}

.blockchains_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 24.11px;
  background: #c5b9bc;
  padding: 5px 15px;
}

.blockchains_item img {
  width: 100%;
  height: auto;
}

.blockchains_item-1 img {
  width: 100px;
}

.big-btn {
  display: block;
  width: 1230px;
  pointer-events: none;
}

.big-btn img {
  width: 100%;
  height: auto;
}

.description {
  padding-top: 190px;
  padding-bottom: 172px;
}

.description_title {
  color: #fff;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  max-width: 1100px;
}

.description_list {
  display: grid;
  grid-template-columns: 580px 580px;
  grid-template-rows: 400px 534px 392px 407px;
  row-gap: 40px;
  column-gap: 22px;
  margin-top: 170px;
}

.description_frame {
  display: flex;
  padding: 27px 69px 27px 31px;
  align-items: flex-start;
  border-radius: 30px;
  background: #9747e7;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.description_frame--big {
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;
  text-align: center;
  gap: 30px;
}

.description_imgFrame {
  position: relative;
  grid-column: 1 / -1;
  border-radius: 30px;
  border: 2px solid #9747e7;
  background: linear-gradient(0deg, #1d1d1f 0%, #1d1d1f 100%),
    linear-gradient(180deg, #1d1d1f 0%, #2a2a2b 34.57%),
    linear-gradient(180deg, rgba(29, 29, 31, 0) 56.74%, #1d1d1f 95.75%),
    linear-gradient(0deg, #1d1d1f 0%, #1d1d1f 100%), #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
}

.description_imgFrameCoin {
  position: absolute;
  left: 150px;
  top: 10px;
}

.roadmap {
  padding: 30px;
  padding-bottom: 50px;
}

.roadmap_title {
  color: #fff;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.roadmap_img {
  margin-top: 187px;
  width: 100%;
  max-width: 1579px;
  height: auto;
}

.stages-description {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 150px;
  row-gap: 100px;
  width: 100%;
  max-width: 1400px;
  padding-top: 300px;
  padding-bottom: 150px;
  padding-left: 100px;
}

.stages-description_item {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  text-transform: uppercase;
  text-align: left;
}

.stages-description_item--right {
  text-align: right;
}

.stages-description_bg {
  position: absolute;
  left: 50%;
  top: 153px;
  transform: translateX(-50%);
}

.team {
  padding-top: 272px;
  padding-bottom: 150px;
}

.team_title {
  color: #fff;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.team_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  list-style: none;
  row-gap: 140px;
  column-gap: 80px;
  margin-top: 155px;
}

.team_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.team_item img {
  border-radius: 20px;
}

.team_name p {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.footer {
  margin-top: 156px;
  padding-bottom: 180px;
  width: 100%;
  min-height: 260px;
  background: linear-gradient(180deg, rgba(10, 28, 14, 0) 37.55%, #9747e7 100%);
}

.footer_container {
  display: flex;
  align-items: flex-start;
  max-width: 1400px;
  gap: 200px;
  margin: 0 auto;
}

.footer_title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fcffff;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}

.footer_description {
  margin-top: 30px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.footer_social {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer_socialItem {
  display: flex;
  width: 80px;
  height: 80px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #9747e7;
  box-shadow: 0px 0px 20px 0px rgba(17, 255, 68, 0.4);
  transition: all 0.3s ease;
}

.footer_socialItem--share {
  gap: 20px;
  width: 280px;
  box-shadow: none;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.roadmap_img_moblie {
  display: none;
}

.footer_socialItem:hover {
  opacity: 0.6;
}

@media (max-width: 1780px) {
  .header_block {
    padding-left: 60px;
    padding-right: 100px;
    max-width: 800px;
    margin-left: auto;
  }

  .header_title {
    font-size: 100px;
  }

  .header_bg {
    position: absolute;
    left: -563px;
    top: -785px;
    width: 1200px;
    height: auto;
  }
  .header_link {
    margin-left: 0;
    position: relative;
    left: -30px;
  }

  .blockchains_list {
    gap: 50px;
  }

  .stages-description {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .stages-description_bg {
    top: 0;
    width: 100%;
    height: auto;
  }

  .team {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .team_title {
    position: relative;
    z-index: 2;
  }

  .team_list {
    margin-top: 60px;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_container {
    gap: 50px;
    justify-content: center;
  }
}

@media (max-width: 1350px) {
  .header_block {
    padding-left: 60px;
    padding-right: 30px;
    max-width: 500px;
    margin-left: 0;
    min-height: 850px;
  }

  .header_bg {
    position: absolute;
    left: initial;
    right: -400px;
    top: -385px;
    width: 800px;
    height: auto;
  }

  .header_description {
    font-size: 30px;
  }

  .blockchains_list {
    gap: 30px;
  }

  .blockchains {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .big-btn {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .big-btn img {
    width: 100%;
    height: auto;
  }

  .description {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .description_title {
    width: 100%;
    line-height: normal;
    text-align: center;
  }

  .description_list {
    width: 100%;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .description_list img {
    width: 100%;
    height: auto;
  }

  .description_frame {
    font-size: 30px;
  }

  .description_imgFrame {
    min-height: 300px;
    bottom: 0;
  }

  .description_imgFrame img {
    left: 0;
    object-fit: cover;
    height: 100%;
  }

  .stages-description_item {
    font-size: 30px;
    line-height: normal;
  }

  .team {
    padding-top: 150px;
  }

  .team_list {
    position: relative;
    z-index: 2;
    margin-top: 60px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
  }

  .team_item {
    gap: 40px;
  }

  .footer_container {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
  }
}

@media (max-width: 1000px) {
  .header_block {
    padding-left: 60px;
    padding-right: 30px;
    max-width: 500px;
    margin-left: 0;
    min-height: 700px;
  }

  .header_title {
    font-size: 80px;
  }

  .header_bg {
    position: absolute;
    left: initial;
    right: -140px;
    top: -30px;
    width: 400px;
    height: auto;
  }

  .header_description {
    font-size: 30px;
  }

  .blockchains_title {
    padding: 0 16px;
    font-size: 30px;
  }

  .blockchains_list {
    margin-top: 40px;
  }

  .description {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .description_title {
    font-size: 30px;
    line-height: normal;
  }

  .description_list {
    width: 100%;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .description_list img {
    width: 100%;
    height: auto;
  }

  .description_frame {
    font-size: 25px;
    padding: 20px;
  }

  .description_imgFrame {
    min-height: 300px;
    bottom: 0;
  }

  .description_imgFrame img {
    left: 0;
    object-fit: cover;
    height: 100%;
  }

  .roadmap_img {
    margin-top: 70px;
  }

  .stages-description {
    column-gap: 50px;
    row-gap: 80px;
  }

  .stages-description_item {
    font-size: 25px;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .header_block {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 500px;
    margin-left: 0;
    min-height: 600px;
  }

  .header_title {
    margin-top: 150px;
    font-size: 50px;
  }

  .header_bg {
    position: absolute;
    left: initial;
    right: 0px;
    top: -200px;
    width: 300px;
    height: auto;
    transform: rotate(90deg);
  }

  .header_description {
    font-size: 30px;
    margin-top: 20px;
  }

  .header_link {
    margin-top: 20px;
    width: 100%;
    left: 0;
  }

  .header_link img {
    width: 100%;
    height: auto;
  }

  .blockchains {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .big-btn {
    width: 100%;
  }

  .description_list {
    width: 100%;
    margin-top: 80px;
    grid-template-columns: 1fr;
  }

  .description_imgFrame {
    min-height: 200px;
    bottom: 0;
  }

  .roadmap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .roadmap_img {
    display: none;
  }

  .roadmap_img_moblie {
    display: block;
    width: 100%;
    margin-top: 50px;
  }

  .stages-description {
    padding: 0 16px;
    gap: 20px;
  }

  .stages-description_item {
    font-size: 14px;
    line-height: normal;
  }

  .stages-description_bg {
    top: -50px;
    width: 100%;
  }

  .team_list {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .footer_title {
    font-size: 80px;
    text-align: center;
  }

  .footer_description {
    text-align: center;
  }

  .footer_social {
    flex-wrap: wrap;
    justify-content: center;
  }

  .socialItem--share {
    box-shadow: 0px 0px 20px 0px rgba(17, 255, 68, 0.4);
  }
}

@media (max-width: 500px) {
  .stages-description_bg {
    top: -50px;
    width: 175%;
  }

  .footer_title {
    font-size: 50px;
    text-align: center;
  }
}
